.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  margin: 20px;
}

.card-title {
  text-align: center;
  margin: 10px 0;
}

.card-content {
  display: flex;
}

.card-image {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.card-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  flex: 1;
  padding: 10px;
}

.view-more-btn {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-more-btn:hover {
  background-color: #2980b9;
}